@font-face {
    font-family: "iconfont";
    src: url('iconfont.woff') format('woff'),
        /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('iconfont.ttf') format('truetype'),
        /* iOS 4.1- */
        url('iconfont.svg') format('svg');

}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 32px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-guanyu:before {
    content: "\e623";
}

.icon-dingdan-copy:before {
    content: "\e668";
}

.icon-weibiaoti3:before {
    content: "\e616";
}

.icon-qian:before {
    content: "\e75e";
}

.icon-service:before {
    content: "\e60a";
}

.icon-video-channel:before {
    content: "\e688";
}

.icon-wode:before {
    content: "\e652";
}

.icon-xiaoxi:before {
    content: "\e687";
}

.icon-weibiaoti-:before {
    content: "\e60e";
}

.icon-heart:before {
    content: "\e61a";
}

.icon-status-check:before {
    content: "\e605";
}

.icon-shezhi:before {
    content: "\e603";
}

.icon-eye:before {
    content: "\e601";
}

.icon-radio:before {
    content: "\e6f1";
}

.icon-shangcheng:before {
    content: "\e6d7";
}

.icon-radio-checked:before {
    content: "\e626";
}

.icon-anquan:before {
    content: "\e600";
}

.icon-chenggong:before {
    content: "\e761";
}

.icon-shenfenzhengcopy:before {
    content: "\e60b";
}

.icon-status-error:before {
    content: "\e607";
}

.icon-ticket:before {
    content: "\e602";
}

.icon-touxiang:before {
    content: "\e612";
}

.icon-guanbi:before {
    content: "\e69e";
}

.icon-fanhui1:before {
    content: "\e63e";
}

.icon-home:before {
    content: "\e60d";
}

.icon-shuaxin:before {
    content: "\e6bc";
}

.icon-gou:before {
    content: "\e635";
}

.icon-list:before {
    content: "\e604";
}

.icon-back:before {
    content: "\e606";
}
